{% if content %}
  {% set classes = [
    "rad-sticky",
    settings.layout_width,
    settings.layout_inner_width,
    settings.layout_background,
  ] %}

  {% if settings.layout_classes is not empty %}
    {% set classes = classes|merge(settings.layout_classes|split(' ')) %}
  {% endif %}

  <div {{ attributes.addClass(classes).setAttribute('id', settings.layout_id) }}>
    {% if content.main %}
      <div class="rad-columns__wrapper">
        <div {{ region_attributes.main.addClass('main-region') }}>
          {{ content.main }}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}