{% if content %}
  {% set classes = [
    "rad-single-column",
    settings.layout_width,
    settings.layout_inner_width,
  ] %}

  {% if settings.layout_classes is not empty %}
    {% set classes = classes|merge(settings.layout_classes|split(' ')) %}
  {% endif %}

  <div {{ attributes.addClass(classes).setAttribute('id', settings.layout_id) }}>
    <div class="rad-columns__wrapper">
      <div {{ region_attributes.one.addClass("rad-single-column__main") }}>
        {{ content.one }}
      </div>
    </div>
  </div>
{% endif %}
